
header{
    font-family: 'Electroharmonix';
    width: 100%;
    height: 30vh;
    border:solid 4px black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #171717;
    font-weight: 800;
    font-size: 3.5vw;
    line-height: 0.9;
    text-align: justify;
    color:black;
    transition: color 0.5s;
    overflow: hidden;
    box-shadow: 0 0 10px #b24ee170, 0 0 30px #124dff61;  
    user-select: none;
}

nav{
    position: absolute;
    top:25%;
    left: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    height: 80px;
    border:solid 4px black; 
    z-index: 9999;
    box-shadow: 0 0 20px #b24ee170, 0 0 40px #124dff61;
    border-radius: 5px;
}
nav div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    background-color:  rgb(26, 25, 25);
    font-family: 'Dangrek';
    font-size: 1.5rem;
}
a{
    color:white;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.3s;
}

.aViolet a:hover{
    color: #b34ee1;
    text-shadow: #6f00a2 0px 0px 7px, #9144b4 0px 0px 16px;
}

.aBlue a:hover{
    color: #3c63d7;
    text-shadow: #0b32a8 0px 0px 7px, #1e3fa4 0px 0px 16px;
}

.letterPurple{
    color: #b34ee1;
    text-shadow: #6f00a2 0px 0px 7px, #9144b4 0px 0px 16px;
    transition: all 0.5s;
}
.letterBlue{
    color: #3c63d7;
    text-shadow: #0b32a8 0px 0px 7px, #1e3fa4 0px 0px 16px;
    transition: all 0.5s;
}

.letterOff{
    color: black;
    text-shadow: none;
    transition: all 0.5s;
}
.showName{
    color: #fefefe !important;
    text-shadow: #7473735d 0px 0px 3px, #98979794 0px 0px 5px, #ffffff78 0px 0px 7px,#a487c1 0px 0px 9px !important;
    transition: all 0.5s;
}

@media (max-width: 820px){
  header{
    font-size: 5vh;
    overflow: hidden;
  }
}